/* .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em; 
    margin: 20px;
}
w
#image-container {
    flex: 1; 
    text-align: center; 
}

#image-container img {
    max-width: 500px;
    height: auto; 
}

#text-contianer {
    flex: 1; 
}



#btn {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#btn:hover {
    background-color: #5b54d1;
}

#text-contianer h2 {
  color: var(--color-gray);
}

#text-contianer h2 span{
    color: #524bcc;
  } */

.loadingSection{
    display: flex;
    justify-content: center;
}

/* 
.product-image {
    width: 300px;
    height: 200px;
    object-fit: contain;
} */

.product-details-section{
    display: grid ;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center ;
    /* column-gap: 20px; */
    justify-content: center;
    margin: 2rem 6rem;

}

.image-container{
text-align: center;
}
.image-container img {
    width: 400px;
    height: 350px;
    object-fit: contain; 
    padding: 20px;
    border-radius:2rem;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.114);  
}
.detials-contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;  
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 1rem;
    
}
.add-to-cart-btn{
    padding: 10px 20px;
    background-color:var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    /* align-self: flex-start; */
}


.detials-contianer h2 {
    color: var(--color-gray);
}


.detials-contianer span {
    color: var(--primary-color);
}