.cart-headline{

    display: flex;
    justify-content: center;
    margin: 30px;
    color: var(--primary-color);
}
hr{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: var( --color-gray);
    border-radius: 90%;

}
.cart-alaa{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr)) 0.5fr ;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: var(--color-gray);

}

.cart-item{
    /* width: 100%; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr))0.5fr ;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding: 12px;
    border-radius: 25px;
    text-align: center;
    /* box-shadow: 0px 10px 25px #00000029; */
    margin-bottom: 4px;
    /* border-bottom: 2px dashed red; */
    /* margin-right: 25px; */
}
.item-details{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left:25px ;
    padding-left:25px ;

    /* text-align: center; */
    /* justify-content: center; */
}

.item-details h3{
    color: var(--primary-color);
}
.item-price{
    color: var(--color-gray);
}

.item-amout{
    display: flex;
    column-gap: 25px;
    /* justify-content: ; */
    align-items: center;
    justify-content: center;
}
.item-amout{
    color: var(--primary-color);
}
.item-total-price h2{
color: var(--color-gray);
}
img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
}
.price-container{
    margin: 20px;
    display: flex;
    justify-content: end;
    margin-top: 30px;

}
.price-details{
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
    
}
.totalprice-content span{
    color: var(--primary-color);
}


.checkout-container button{
    padding: 1em 5em;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1em;
    transition: 1s  ease-in-out;
}

.checkout-container button:hover{

    background-color: black ;
}

.delete-item{
    color: red;
    /* font-size: 12px; */
    cursor: pointer;
}