
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.order-check img{

    width: 300px;
    height: 300px;

}

.order-text{
    color: var(--primary-color);
}