*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --padding-x :12px;
    --padding-y :8px;
    --primary-color :#524bcc;
    --background-color: #cccc;
    --color-gray:#7e7777;;
}

